################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

ingestbeat:
  # address to listen on
  address: 0.0.0.0:19200
